.git
.github
.air
.tmp
data
tmp
temp
artifacts

**/node_modules
**/dist
**/build
**/.svelte-kit
**/.turbo
**/coverage

apps/android-tv
apps/apple-core
apps/apple-tv
apps/desktop
apps/ios

server/data
server/.air
server/*.exe
*.exe
*.log

docs
screenshots
packages
scripts
tools
