* text=auto

*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.go text eol=lf
*.kt text eol=lf
*.kts text eol=lf
*.swift text eol=lf
*.sh text eol=lf
*.ps1 text eol=crlf

